[submodule "explo-frontend-sveltekit"]
	path = explo-frontend-sveltekit
	url = https://github.com/deozza/explo-frontend-sveltekit
[submodule "svelte-pokedex"]
	path = svelte-pokedex
	url = https://github.com/deozza/svelte-pokedex
